* {
    margin: 0;
    padding: 0;
}
.center {
    padding-left: 119px;
    padding-right: 120px;
}
.top {
    background-image: url(./image/top.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    position: relative;
}
.top__vector {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translateX(1105px);  
}
.top__star2 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translate(63px, 94px);  
}
.top__star3 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translate(156px, 69px);  
}
.top__star5 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translate(948px, 538px);  
}
.top__star4 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translate(1013px, 568px);  
}
.top__vector4780 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translateX(930px);  
}
.top__vector4781 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translate(1140px, 254px);  
}
.top__vector4782 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translate(1300px, 379px);  
}
.top__vector4788 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translate(1320px, 468px);  
}
.top__vector4791 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translate(1420px, 663px);  
}


.top__content {
    width: 769px;
    height: 358px;
    padding-top: 196px;
    padding-left: 120px;
}

.top__title {
    white-space: pre-wrap;
    max-width: 769px;
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
}

.top__description {
    width: 720px;
    white-space: pre-wrap;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    margin-top: 24px;
}

.top__regular {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;

}

.form-button {
    width: 247;
    height: 66;
    opacity: 1;
    gap: 10px;
    background-color: #202027;
    border-width: 1px;
    border-radius: 60px;
    padding-top: 16px;
    padding-right: 65px;
    padding-bottom: 16px;
    padding-left: 65px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    color: #ffff;
    text-align: center;
    margin-top: 48px;
}

.form-button:hover {
    background-color: #ffff;
    color: #202027;
}
.games {
    background-image: url(./image/Rectangle\ 111002149.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1470px;
    position: relative;
}
.games__title {
font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 64px;
line-height: 100%;
letter-spacing: 0px;
vertical-align: middle;
color: #FFF;
padding-top: 94px;
}
.games__description {
font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 24px;
line-height: 32px;
letter-spacing: 0px;
vertical-align: middle;
color: #FFF;
white-space: pre-wrap;
padding-top: 24px;
padding-bottom: 72px;
}
.games__star11 {
position: absolute;
background-size: cover;
border: 1px;
transform: translate(-90px, 770px);
}
.games__star12 {
position: absolute;
background-size: cover;
border: 1px;
transform: translate(-75px, 822px);
}
.games__star1 {
position: absolute;
background-size: cover;
border: 1px;
transform: translate(942px, -197px);
}
.games-catalog {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}
.catalog {
    width: 378px;
    height: 473px;
    background-color: #FFF;
    border-radius: 30px;
}
.catalog__img {
    width: 378px;
    height: 314px;
    border-radius: 30px;
}
.catalog__number {
    width: 108px;
    opacity: 1;
    border-radius: 52.58px;
    background-color: #f7f7f7;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    color: #202027;
    margin-top: 32px;
    margin-left: 32px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 110.00000000000001%;
    letter-spacing: 0px;
    vertical-align: bottom;
    text-align: center;
}
.catalog__title {
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    margin-top: 16px;
    margin-left: 32px;

}