* {
    margin: 0;
    padding: 0;
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    
}

.top {
    background-image: url(./image/top.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    position: relative;
}


.top__vector {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    top: 0;
    right: 0;
}

.top__star2 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translate(63px, 94px);
}

.top__star3 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translate(156px, 69px);
}

.top__star5 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translate(948px, 538px);
}

.top__star4 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translate(1013px, 568px);
}

.top__vector4780 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    top: 1px;
    right: 269px;
    /*transform: translateX(930px);*/
}

.top__vector4781 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    top: 254px;
    right: 231px;
    /*transform: translate(1140px, 254px);*/
}

.top__vector4782 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    top: 379px;
    right: 1px;
    /*transform: translate(1300px, 379px);*/
}

.top__vector4788 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    top: 468px;
    right: 113px;
    /*transform: translate(1320px, 468px);*/
}

.top__vector4791 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    top: 663px;
    right: 47px;
    /*transform: translate(1420px, 663px);*/
}
.top__star-mob {
    display: none;
}
.top__content {
    width: 769px;
    height: 358px;
    padding-top: 196px;
}

.top__title {
    white-space: pre-wrap;
    max-width: 769px;
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
}

.top__description {
    width: 720px;
    white-space: pre-wrap;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    margin-top: 24px;
    margin-bottom: 58px;
}

.top__regular {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;

}

.form-button {
    width: 247;
    height: 66;
    opacity: 1;
    gap: 10px;
    background-color: #202027;
    border-width: 1px;
    border-radius: 60px;
    padding-top: 16px;
    padding-right: 65px;
    padding-bottom: 16px;
    padding-left: 65px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: SemiBold;
    font-size: 24px;
    color: #ffff;
    text-align: center;
    margin-top: 48px;
    text-decoration: none;
}

.form-button:hover {
    background-color: #ffff;
    color: #202027;
    font-weight: 600;
    border: solid 1px #000;

}

.games {
    background-image: url(./image/Rectangle\ 111002149.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1470px;
    position: relative;
    z-index: 1;
}

.games__title {
    width: 1200px;
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFF;
    padding-top: 94px;
}

.games__description {
    width: 1200px;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFF;
    white-space: pre-wrap;
    padding-top: 24px;
    padding-bottom: 72px;
}

.games__star11 {
    position: absolute;
    background-size: cover;
    border: 1px;
    transform: translate(-90px, 770px);
}

.games__star12 {
    position: absolute;
    background-size: cover;
    border: 1px;
    transform: translate(-75px, 822px);
}

.games__star1 {
    position: absolute;
    background-size: cover;
    border: 1px;
    top: 94px;
    right: 1px;
    /*transform: translate(938px, -250px);*/
    z-index: 2;
}

.games-catalog {
    position: absolute;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 32px;
    column-gap: 32px;
    z-index: 3;
    width: 1201px;
}

.catalog {
    width: 378px;
    height: 473px;
    background-color: #FFF;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 7px;
    text-decoration: none;
}

.catalog {
    transition: transform .1s;
}

.catalog:hover {
    transform: scale(1.1);
}
.catalog__cart {
    text-decoration: none;
}
.catalog__img {
    width: 378px;
    height: 314px;
    border-radius: 30px;
}

.catalog__number {
    width: 108px;
    opacity: 1;
    border-radius: 52.58px;
    background-color: #f7f7f7;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    color: #202027;
    margin-top: 32px;
    margin-left: 32px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 110.00000000000001%;
    letter-spacing: 0px;
    vertical-align: bottom;
    text-align: center;
}

.catalog__title {
    white-space: pre-wrap;
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    margin-top: 16px;
    margin-left: 32px;
    color: #202027;

}

.catalog1 {
    width: 378px;
    height: 512px;
    background-color: #FFF;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 7px;
    text-decoration: none;
}

.catalog1 {
    transition: transform .1s;
}

.catalog1:hover {
    transform: scale(1.1);
}
.catalog1__cart {
    text-decoration: none;
}

.catalog1__title {
    white-space: pre-wrap;
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    margin-left: 32px;
    margin-top: -16px;
    color: #202027;
}

.catalog1__img {
    width: 378px;
    height: 314px;
    border-radius: 30px;
}

.catalog1__number {
    width: 108px;
    opacity: 1;
    border-radius: 52.58px;
    background-color: #f7f7f7;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    color: #202027;
    margin-top: 32px;
    margin-left: 32px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 110.00000000000001%;
    letter-spacing: 0px;
    vertical-align: bottom;
    text-align: center;
}

.catalog2 {
    width: 378px;
    height: 551px;
    background-color: #FFF;
    border-radius: 30px;
    overflow: hidden;
    margin-top: -32px;
    text-decoration: none;
}

.catalog2 {
    transition: transform .1s;
}

.catalog2:hover {
    transform: scale(1.1);
}
.catalog2__cart {
    text-decoration: none;
}
.catalog2__title {
    white-space: pre-wrap;
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    margin-left: 32px;
    margin-top: -16px;
    color: #202027;
}

.catalog2__img {
    width: 378px;
    height: 314px;
    border-radius: 30px;
}

.catalog2__number {
    width: 108px;
    opacity: 1;
    border-radius: 52.58px;
    background-color: #f7f7f7;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    color: #202027;
    margin-top: 32px;
    margin-left: 32px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 110.00000000000001%;
    letter-spacing: 0px;
    vertical-align: bottom;
    text-align: center;
}

.games-mg {
    background-image: url(./image/top-minigames.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 3500px;
    position: relative;
    padding-bottom: 55px;
}
.games-mg__star6 {
    position: absolute;
    background-size: cover;
    border-color: #BCEC30;
    border: 1px;
    top: 126px;
    right: 45px;
}
.games-mg__star7 {
    position: absolute;
    background-size: cover;
    border-color: #BCEC30;
    border: 1px;
    top: 93px;
    right: 124px;
}

.games-mg__star8 {
    position: absolute;
    background-size: cover;
    border-color: #BCEC30;
    border: 1px;
    right: 52px;
    bottom: 65px;
}
.games-mg__star10 {
    position: absolute;
    background-size: cover;
    border-color: #BCEC30;
    border: 1px;
    right: 150px;
    bottom: 45px;
}
.games-mg__title {
    width: 1200px;
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFF;
    padding-top: 96px;
    padding-bottom: 72px;
}
.games-mg__catalog {
    width: 1200px;
    gap: 32px;
}

.catalog-mg {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 500px;
    background-color: #FFF;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 7px;
    text-decoration: none;
    margin-bottom: 32px;
}
.catalog-mg__description {
    padding-left: 48px;
    padding-top: 48px;
    padding-right: 48px;
    padding-bottom: 305px;
}
.catalog-mg__title1 {
    white-space: pre-wrap;
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
}
.catalog-mg__description1 {
    width: 457px;
    white-space: pre-wrap;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    padding-top: 24px;
    padding-bottom: 56px;
}
.catalog-mg__description2 {
    width: 457px;
    white-space: pre-wrap;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    padding-top: 24px;
    padding-bottom: 56px;
    padding-left: 48px;
}
.catalog-mg__button {
    width: 247;
    height: 66;
    opacity: 1;
    gap: 10px;
    background-color: #202027;
    border-width: 1px;
    border-radius: 60px;
    padding-top: 16px;
    padding-right: 65px;
    padding-bottom: 16px;
    padding-left: 65px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: SemiBold;
    font-size: 24px;
    color: #ffff;
    text-align: center;
    margin-top: 48px;
    text-decoration: none;
}
.catalog-mg__button:hover {
    background-color: #ffff;
    color: #202027;
    font-weight: 600;
    border: solid 1px #000;
}
.mob-games-catalog {
    display: none;
}
.footer {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #BDED35;
    height: 150px;
}
.footer__title {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    padding-top: 61px;

}

@media (max-width: 767px) {   
    .center {
    padding-left: calc(50% - 180px);
    padding-right: calc(50% - 185px);
    
} 
    .top {
    background-image: url(./image/top-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    position: relative;
}
.top__star-mob {
    display: block;
}
.top__star2-mob {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translate(37px, 97px);
}
.top__star3-mob {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translate(91px, 64px);
}
.top__star4-mob {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    right: 34px;
    top: 580px;
}
.top__star5-mob {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    right: 86px;
    top: 557px;
}
.top__vector-mob {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    top: 0;
    right: 0;
    
}

.top__vector {
    display: none;
}
.top__star2 {
    display: none;
}
.top__star3 {
    display: none;
}
.top__star4 {
    display: none;
}
.top__star5 {
    display: none;
}
.top__vector4780 {
    display: none;
}
.top__vector4781 {
    display: none;
}
.top__vector4782 {
    display: none;
}
.top__vector4788 {
    display: none;
}
.top__vector4791 {
    display: none;
}
.top__content {
    width: 296px;
    padding-top: 147px;
    padding-left: 40px;
    padding-right: 40px;
}
.top__title {
    width: 296px;
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
}
.top__description {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    width: 296px;
    height: 60px;
    white-space: normal;
}
.top__regular {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;

}
.form-button {
    display: flex;
    justify-content: center;
    align-items: center;
margin-left: 46px;
gap: 10px;
border-width: 1px;
border-radius: 60px;
padding-top: 16px;
padding-right: 28px;
padding-bottom: 16px;
padding-left: 28px;
font-family: Montserrat;
font-weight: 600;
font-style: SemiBold;
font-size: 16px;
line-height: 142%;
letter-spacing: 0%;
text-align: center;
    margin-left: 6px;
    margin-right: 6px;


}
.games {
    display: none;
}
.games-mg__catalog {
    display: none;
}
.games-mg__star {
    display: none;
}
.games-mg {
    background-image: url(./image/mob-games-mg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 3740px;
    position: relative;
}
.games-mg__title {
    width: 343px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 30px;
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
}

.mob-games-catalog {
    display: block;
}
.mob-games-catalog {
    display: grid;
    gap: 24px;
    position: absolute;
}
.mob-catalog {
    width: 343px;
    height: 528px;
    background-color: #FFF;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 7px;
    text-decoration: none;
}
.mob-catalog1 {
    white-space: pre-wrap;
    width: 343px;
    height: 567px;
    background-color: #FFF;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 7px;
    text-decoration: none;
}
.mob-catalog2 {
    white-space: pre-wrap;
    width: 343px;
    height: 606px;
    background-color: #FFF;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 7px;
    text-decoration: none;
}
.mob-catalog3 {
    white-space: pre-wrap;
    width: 343px;
    height: 626px;
    background-color: #FFF;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 7px;
    text-decoration: none;
}

.mob-catalog__img {
    width: 343;
    height: 284.9259338378906;
    opacity: 1;
    border-radius: 30px;
}
.mob-catalog1__img {
    width: 343;
    height: 284.9259338378906;
    opacity: 1;
    border-radius: 30px;
    margin-top: -37px;
}
.mob-catalog2__img {
    width: 343;
    height: 284.9259338378906;
    opacity: 1;
    border-radius: 30px;
    margin-top: -37px;
}
.mob-catalog3__img {
    width: 343;
    height: 284.9259338378906;
    opacity: 1;
    border-radius: 30px;
    margin-top: -37px;
}

.mob-catalog__title {
    white-space: pre-wrap;
    padding-top: 28px;
    padding-left: 29px;
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
}
.mob-catalog1__title {
    white-space: pre-wrap;
    padding-top: 16px;
    padding-left: 29px;
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
}
.mob-catalog2__title {
    white-space: pre-wrap;
    padding-top: 16px;
    padding-left: 29px;
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
}
.mob-catalog3__title {
    white-space: pre-wrap;
    padding-top: 16px;
    padding-left: 29px;
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
}

.mob-catalog__description {
    width: 249px;
    padding-left: 29px;
    padding-right: 65px;
    padding-top: 16px;
    padding-bottom: 48px;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
}
.mob-catalog1__description {
    width: 282px;
    padding-left: 29px;
    padding-right: 65px;
    margin-top: -16px;
    margin-bottom: 16px;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
}
.mob-catalog2__description {
    width: 249px;
    padding-left: 29px;
    padding-right: 65px;
    margin-top: -16px;
    margin-bottom: 16px;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
}
.mob-catalog3__description {
    width: 282px;
    padding-left: 29px;
    padding-right: 65px;
    margin-top: -16px;
    margin-bottom: 16px;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
}


.mob-catalog-mg__button {
    width: 285px;
    height: 55px;
    opacity: 1;
    gap: 10px;
    background-color: #202027;
    border-width: 1px;
    border-radius: 60px;
    padding-top: 16px;
    padding-right: 110px;
    padding-bottom: 20px;
    padding-left: 110px;
    margin-left: 29px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: SemiBold;
    font-size: 16px;
    color: #ffff;
    text-align: center;
    margin-top: 48px;
    text-decoration: none;
}
.mob-catalog-mg__button:hover {
    background-color: #ffff;
    color: #202027;
    font-weight: 600;
    border: solid 1px #000;
}
.mob-catalog-mg1__button {
    width: 285px;
    height: 55px;
    opacity: 1;
    gap: 10px;
    background-color: #202027;
    border-width: 1px;
    border-radius: 60px;
    padding-top: 16px;
    padding-right: 110px;
    padding-bottom: 20px;
    padding-left: 110px;
    margin-left: 29px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: SemiBold;
    font-size: 16px;
    color: #ffff;
    text-align: center;
    margin-top: 48px;
    text-decoration: none;
}
.mob-catalog-mg1__button:hover {
    background-color: #ffff;
    color: #202027;
    font-weight: 600;
    border: solid 1px #000;
}
.mob-catalog-mg2__button {
    width: 285px;
    height: 55px;
    opacity: 1;
    gap: 10px;
    background-color: #202027;
    border-width: 1px;
    border-radius: 60px;
    padding-top: 16px;
    padding-right: 110px;
    padding-bottom: 20px;
    padding-left: 110px;
    margin-left: 29px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: SemiBold;
    font-size: 16px;
    color: #ffff;
    text-align: center;
    margin-top: 48px;
    text-decoration: none;
}
.mob-catalog-mg2__button:hover {
    background-color: #ffff;
    color: #202027;
    font-weight: 600;
    border: solid 1px #000;
}
.mob-catalog-mg3__button {
    width: 285px;
    height: 55px;
    opacity: 1;
    gap: 10px;
    background-color: #202027;
    border-width: 1px;
    border-radius: 60px;
    padding-top: 16px;
    padding-right: 110px;
    padding-bottom: 20px;
    padding-left: 110px;
    margin-left: 29px;
    font-family: Montserrat;
    font-weight: 500;
    font-style: SemiBold;
    font-size: 16px;
    color: #ffff;
    text-align: center;
    margin-top: 48px;
    text-decoration: none;
}
.mob-catalog-mg3__button:hover {
    background-color: #ffff;
    color: #202027;
    font-weight: 600;
    border: solid 1px #000;
}
.footer__title {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;

}
}