* {
    margin: 0;
    padding: 0;
}

.top {
    background-image: url(./image/top.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    position: relative;
}
.top__vector {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translateX(1105px);  
}
.top__star2 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translate(63px, 94px);  
}
.top__star3 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translate(156px, 69px);  
}
.top__star5 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translate(948px, 538px);  
}
.top__star4 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translate(1013px, 568px);  
}
.top__vector4780 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translateX(930px);  
}
.top__vector4781 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translate(1140px, 254px);  
}
.top__vector4782 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translate(1300px, 379px);  
}
.top__vector4788 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translate(1320px, 468px);  
}
.top__vector4791 {
    position: absolute;
    background-size: cover;
    border-color: #202027;
    border: 1px;
    transform: translate(1420px, 663px);  
}


.top__content {
    width: 769px;
    height: 358px;
    padding-top: 196px;
    padding-left: 120px;
}

.top__title {
    white-space: pre-wrap;
    max-width: 769px;
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
}

.top__description {
    width: 720px;
    white-space: pre-wrap;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    margin-top: 24px;
}

.top__regular {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;

}

.form-button {
    width: 247;
    height: 66;
    opacity: 1;
    gap: 10px;
    background-color: #202027;
    border-width: 1px;
    border-radius: 60px;
    padding-top: 16px;
    padding-right: 65px;
    padding-bottom: 16px;
    padding-left: 65px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    color: #ffff;
    text-align: center;
    margin-top: 48px;
}

.form-button:hover {
    background-color: #ffff;
    color: #202027;
}